<div class="contacts overflow-y-scroll p-2">
    <h2 class="text-white mb-4 pt-1 text-center">Contacts</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex align-items-center">
                    <div class="me-3">
                        <img src="planet.png" class="rounded-circle" alt="Profile">
                    </div>
                    <div class="d-flex justify-content-between w-100">
                        <h5 class="card-title mb-1">Global</h5>
                        <button class="btn btn-sm btn-primary w-25" (click)="changeChat('Global')"><i
                                class="bi bi-chat-left-dots-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let contact of contacts" class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex align-items-center">
                    <div class="me-3">
                        <img src="user.png" class="rounded-circle" alt="Profile">
                    </div>
                    <div class="d-flex justify-content-between w-100">
                        <h5 class="card-title mb-1 w-25">{{ contact.id }}</h5>
                        <button class="btn btn-sm btn-primary" (click)="changeChat(contact.id)"><i
                                class="bi bi-chat-left-dots-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addFriendModal">
           <i class="bi bi-person-plus-fill w-100"></i>
            <span class="ms-1 h6">Add a new contact</span>
        </button>
    </div>
</div>

<div class="modal fade mt-5" id="addFriendModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Adding a new contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-2">
                <div class="d-flex mb-3">
                    <input #input ngModel type="text" style="height: 50px; padding-left: 15px;" class="rounded-pill rounded-end w-75" (keydown.enter)="onSendContactRequest(input.value)">
                    <button class="btn btn-primary rounded-start rounded-pill" (click)="onSendContactRequest(input.value)">Send</button>
                </div>
                <p *ngIf="addContactStatus === false" class="h6 text-info text-center">* Invalid name</p>
                <p *ngIf="addContactStatus === true" class="h6 text-success text-center">Request was sent successfully</p>
            </div>
        </div>
    </div>
</div>