.contacts {

    width: 100vw;
    height: 90vh;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    scrollbar-color: white rgb(238, 10, 143);

    background: rgba(255, 3, 3, 0.1);
    box-shadow: 0 0 40px rgb(247, 82, 178);
}

.card {
    transition: transform 0.4s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}