@use "assets/bootstrap/bootstrap.css";

html, body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}